<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h3>About Me</h3>
                <img src="../../assets/samukelongidi.jpeg" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p> An enthusiastic Software Developer with years of experience in software development, developing and maintaining software mainly in Java, Angular & Oracle. 
                    Some of my dev tasks include front-end design, writing unit tests, developing REST APIs, creating database objects, and writing queries. </p>
            </div>
        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h3>Featured Projects</h3>
                <img src="../../assets/project-icon.jpg" alt="projects" width="256" height="256" class="rounded"> 
                <h4>{{featuredProject.name}}</h4>
                <p>{{featuredProject.summary}}</p>
            </div>
        </div>
    </div>
</div>
