<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h3>About Me</h3>
                <img src="../../assets/samukelongidi.jpeg" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p> A passionate Software Developer with extensive experience in Java, JavaScript and SQL development. 
                    My expertise spans full-stack development, including crafting responsive front-end interfaces, 
                    implementing comprehensive unit testing strategies, building RESTful APIs, and optimizing complex database queries. 
                    I specialize in developing and maintaining robust software solutions that deliver business value. </p>
            </div>
        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h3>Featured Projects</h3>
                <img src="../../assets/project-icon.jpg" alt="projects" width="256" height="256" class="rounded"> 
                <h4>{{featuredProject.name}}</h4>
                <p>{{featuredProject.summary}}</p>
            </div>
        </div>
    </div>
</div>
